exec:
  description: the name of executable
  variants:
  - cyber
  - pussy
  - other
chain-id:
  description: the chain-id param
  variants:
  - bostrom
  - space-pussy
  - other
rpc-address:
  description: the node's rpc address
  variants:
  - https://rpc.bostrom.cybernode.ai:443
  - https://rpc.space-pussy.cybernode.ai:443
  - other
ipfs-download-from:
  description: the source to download IPFS data from
  variants:
  - kubo
  - cybernode
ipfs-storage:
  description: the destination to upload IPFS data to
  variants:
  - kubo
  - cybernode
  - both
caching-function-force-update:
  description: don't use cached node responses, update results immediately
  type: bool
  variants:
  - 'true'
  - 'false'
caching-function-max-retries:
  description: the maximum number of retries in case of an error response
  type: int
  variants:
  - 5
  - 3
  - 1
  - 0
authz:
  description: the address to send links from
  variants:
  - other
links-per-transaction:
  description: the number of links to fit in one transaction
  type: int
  variants:
  - 10
  - 25
  - 50
  - 75
  - 100
  - other
indexer-graphql-endpoint:
  description: hasura graphql indexer endpoint to get cyberlinks from
  variants:
  - 'https://titan.cybernode.ai/graphql/v1/graphql'
  - other
indexer-clickhouse-endpoint:
  description: clickhouse indexer endpoint to get cyberlinks from
  variants:
  - 'https://index.bostrom.bronbro.io:443?enable_http_compression=1'
  - other
indexer-clickhouse-auth:
  description: 'clickhouse indexer user:password string'
  variants:
  - 'bronbro:spac3b0x'
  - other
indexer-clickhouse-chunksize:
  description: 'clickhouse how many links should be in one batch request'
  type: int
  variants:
  - 10000
  - 100000
  - 500000
  - other
